In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../raw/obiezione - all_years.csv')

In [4]:
data['region'].unique()

array(['Piemonte', "Valle d'Aosta", 'Lombardia', 'Bolzano', 'Trento',
       'Veneto', 'Friuli Venezia Giulia', 'Liguria', 'Emilia Romagna',
       'Toscana', 'Umbria', 'Marche', 'Lazio', 'Abruzzo', 'Molise',
       'Campania', 'Puglia', 'Basilicata', 'Calabria', 'Sicilia',
       'Sardegna'], dtype=object)

In [6]:
data['region'] = data['region'].str.replace('Emilia Romagna' , 'Emilia-Romagna')

In [7]:
data['region'] = data['region'].str.replace( "Valle d'Aosta" , "Valle d'Aosta/Vallée d'Aoste")

In [8]:
data

,region,year,gynecologist,gynecologist_%,anesthetist,anesthetist_%,non_medical,non_medical_%
0,Piemonte,2012,277,"65,0",216,"38,8",447,"24,4"
1,Valle d'Aosta/Vallée d'Aoste,2012,2,"13,3",4,"25,0",2,"3,5"
2,Lombardia,2012,565,"63,6",602,"41,3",1221,"43,1"
3,Bolzano,2012,69,"87,3",28,"40,6",168,"68,0"
4,Trento,2012,41,"67,2",31,"37,3",467,"24,2"
...,...,...,...,...,...,...,...,...
184,Puglia,2020,234,"79,1",265,"56,6",909,"71,6"
185,Basilicata,2020,35,"81,4",48,"71,6",72,"56,7"
186,Calabria,2020,71,"67,6",63,"75,9",169,"63,1"
187,Sicilia,2020,307,"81,6",331,"73,1",726,"86,1"
188,Sardegna,2020,100,"55,6",90,"49,7",171,"35,7"

In [13]:
country = 'Italy'

In [14]:
data['country'] = country

In [24]:
# melt 
data_melted = data.melt( id_vars = ['country', 'region', 'year'], 
                        value_vars = ['gynecologist', 'gynecologist_%', 'anesthetist', 'anesthetist_%', 'non_medical', 'non_medical_%'], 
                        var_name = 'type_of_doctor', 
                        value_name = 'value')

In [25]:
data_real = data_melted[data_melted['type_of_doctor'].isin(['gynecologist', 'anesthetist','non_medical'])]

In [40]:
data_real

    country                        region  year type_of_doctor value
0     Italy                      Piemonte  2012   gynecologist   277
1     Italy  Valle d'Aosta/Vallée d'Aoste  2012   gynecologist     2
2     Italy                     Lombardia  2012   gynecologist   565
3     Italy                       Bolzano  2012   gynecologist    69
4     Italy                        Trento  2012   gynecologist    41
..      ...                           ...   ...            ...   ...
940   Italy                        Puglia  2020    non_medical   909
941   Italy                    Basilicata  2020    non_medical    72
942   Italy                      Calabria  2020    non_medical   169
943   Italy                       Sicilia  2020    non_medical   726
944   Italy                      Sardegna  2020    non_medical   171

[567 rows x 5 columns]

In [27]:
data_percentage = data_melted[data_melted['type_of_doctor'].isin(['gynecologist_%', 'anesthetist_%','non_medical_%'])]

In [45]:
data_percentage['type_of_doctor'].unique()

array(['gynecologist', 'anesthetist_%', 'non_medical'], dtype=object)

In [43]:
data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('gynecologist_%' , 'gynecologist')

/var/folders/33/6_3s22415y18bgznpc1317_40000gp/T/ipykernel_2810/3936339680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('gynecologist_%' , 'gynecologist')

In [44]:
data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('non_medical_%' , 'non_medical')

/var/folders/33/6_3s22415y18bgznpc1317_40000gp/T/ipykernel_2810/1080833410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('non_medical_%' , 'non_medical')

In [46]:
data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('anesthetist_%' , 'anesthetist')

/var/folders/33/6_3s22415y18bgznpc1317_40000gp/T/ipykernel_2810/241902111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_percentage['type_of_doctor'] = data_percentage['type_of_doctor'].str.replace('anesthetist_%' , 'anesthetist')

In [47]:
data_merged = data_real.merge(data_percentage, on = ['region', 'year', 'country', 'type_of_doctor'], how = 'inner')

In [49]:
data_merged.columns = ['country', 'region', 'year', 'type_of_doctor', 'value_real', 'value_%']

In [60]:
data_merged['value_%'] = data_merged['value_%'].str.replace(',', '.')

In [61]:
data_merged

,country,region,year,type_of_doctor,value_real,value_%
0,Italy,Piemonte,2012,gynecologist,277,65.0
1,Italy,Valle d'Aosta/Vallée d'Aoste,2012,gynecologist,2,13.3
2,Italy,Lombardia,2012,gynecologist,565,63.6
3,Italy,Bolzano,2012,gynecologist,69,87.3
4,Italy,Trento,2012,gynecologist,41,67.2
...,...,...,...,...,...,...
562,Italy,Puglia,2020,non_medical,909,71.6
563,Italy,Basilicata,2020,non_medical,72,56.7
564,Italy,Calabria,2020,non_medical,169,63.1
565,Italy,Sicilia,2020,non_medical,726,86.1
566,Italy,Sardegna,2020,non_medical,171,35.7

In [62]:
data_merged['value_%'] = data_merged['value_%'].astype(float)

In [58]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 566
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         567 non-null    object
 1   region          567 non-null    object
 2   year            567 non-null    int64
 3   type_of_doctor  567 non-null    object
 4   value_real      567 non-null    object
 5   value_%         567 non-null    object
dtypes: int64(1), object(5)
memory usage: 31.0+ KB

In [63]:
data_merged.to_csv('../clean_data/10_objectors_region_correct.csv', index = False)

In [3]:
data = pd.read_csv('../clean_data/10_objectors_region_correct.csv')

In [19]:
 data['region'] = data['region'].str.replace( "Valle d'Aosta/Vallée D'Aoste" , "Valle D'Aosta/Vallée D'Aoste")

In [20]:
data[data['region'] == "Valle d'Aosta/Vallée D'Aoste"]

Empty DataFrame
Columns: [country, region, year, type_of_doctor, value_real, value_%]
Index: []

In [21]:
data.to_csv('../clean_data/10_objectors_region_map.csv')